h1 {
    font-size: 2.8em;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color:rgb(255, 132, 198);
    text-align: center;
}

ul {
    list-style-type: none;
    text-align: center;
}

.center {
    text-align:center;
}

body {
    font-size: 1em;
    font-weight: normal;
    background-color: #fff0f5;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:rgb(165, 135, 193);
    width:1000px;
    margin: 0 auto;
}

.img {
    text-align: center;
    margin-top: 30px;
}

.menu {
    margin: 3%;
    list-style-position: outside;
}


.border {
    border-style: solid;
}

.banner {
    background-color: rgb(239, 200, 233);
    border-bottom: solid;
    border-top: solid;
    margin-bottom:1%;
    height:125px;
}

button {
    background-color: #ffffff;
    border:0cm;
    padding: 15px 30px;
    font-size: 1.1em;
    border-radius: 30px;
    cursor: pointer;
}
.photo-book {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.photo-book img {
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    max-width: 100%;
    max-height: 600px;
    object-fit: contain;
    transition: opacity 3ss ease;
}

.photo-book button {
    background-color: #ffffff;
    border:0cm;
    padding: 15px 30px;
    font-size: 1.1em;
    border-radius: 30px;
    cursor: pointer;
    margin-bottom: 2%;
}

.photo-book button:hover {
    background-color: #ffb3f2;
}

.letter-box {
    max-width: 600px;
    margin: 30px auto;
    padding: 25px;
    background-color: #fff7fb;
    border-radius: 15px;
    font-size: 1.2em;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}


/* The following will style the navigation menu */
a {
    color: rgb(248, 243, 243);
}

nav{
    /* clear property will move the nav element on its own line and left justify */
    clear:middle;
    padding:2em;
    margin-left: 0.1em;
}

nav ul li {
    /* float is used for positioning */
    float: left;
    margin-right: 1.0em;
    text-align: center;
}

nav ul li a {
    padding: 0.50em 2em;
    text-decoration: none; /* no underline */
    background-color: #ffffff; /* pale bluish white */
    color: #af90f4; /* font color dark blue */
    border: 2px solid black;
    border-top-left-radius: 1em 1em; /* rounded corner! */
    border-top-right-radius: 1em 1em; /* another rounded corner! */
    border-bottom-left-radius: 1em 1em; /* rounded corner! */
    border-bottom-right-radius: 1em 1em; /* another rounded corner! */
    text-align:center;
}

nav ul li a:hover, nav ul li a:focus {
    color: black;
    background-color: white;
    font-weight: bold;
    text-align: center;
}